@import '../../../assets/scss/colors';

.main {
  flex: 1 1 auto;

  &__form {
    margin-top: 90px;
  }

  &__form,
  &__sort {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  &__sort {
    padding: 10px 0 0 0;
  }

  &__reset {
    display: flex;
    justify-content: center;
  }

  &__reset-btn {
    width: 138px;
    border: 1px solid $black;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.4s;
  }

  &__reset-btn:hover {
    border-color: $blue;
    background: $blue;
    color: $white;
  }

  &__reset-btn:focus {
    border: 1px solid $black;
  }

  &__reset-btn:disabled {
    border: 1px solid $black;
    background: $black;
    color: $white;
    opacity: 0.5;
  }

  &__spinner {
    display: flex;
    justify-content: center;
    padding: 130px 0;
  }

  &__content {
    max-width: 1000px;
    margin: 0 auto 30px auto;
  }

  @media (min-width: 1920px) {
    &__content {
      max-width: 1800px;
      height: 340px;
      margin: 0 auto 30px auto;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }
}

.radio {
  &__wrapper {
    margin-right: 10px;
  }
}

.content {
  &__tree {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 90px;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 700px;
  }
}

.pagination {
  &__prev-btn {
    margin-right: 10px;
  }
}
.btn {
  border: 0.5px solid $blue;
  border-radius: 5px;
  background: $light-blue;
  color: $black;
  padding: 5px 20px;
  transition: 0.6s;

  &:focus {
    border: 0.5px solid $blue;
  }

  &:hover {
    background: $blue;
    color: $white;
  }

  &:disabled {
    border: 0.5px solid $blue;
    opacity: 0.5;
  }

  &:disabled:hover {
    background: $light-blue;
    color: $black;
  }
}
